.js .js-accordion dd {
  display: none;
}

.js-accordion dt::after {
  content: "⬇";
  margin-left: 0.6rem;
}

.js-accordion dt.active::after {
  content: "⬆";
  margin-left: 0.6rem;
}

.js-accordion dd.active {
  display: block !important;
  animation: slideDown .5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 100rem
  }
}