.js .js-tabcontent section {
  display: none;
}

.js-tabcontent section.active {
  display: block !important;
  animation: show .5s forwards;
}

/* Animação de Transição de estilos */
@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}